# Project files
/.idea

# Compiled files
__pycache__/
*.py[cod]

# Backup files
*~
*.bak

# Large binary files
*.nc
*.nc4
*_wrfout_d[0-9][0-9]_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_*
wrfout_d[0-9][0-9]_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_*

# default output files
/Wiski/map.png
